body {
    background-color:#636363;
    height: 100%;
    width: 100%;
}

.apprtBIcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;
    height: 100px;
}

.apprtBIcir {
    height: 30px;
    width:30px;
    border-radius:50%;
    transform: scale(0);
    background-color:#0854a0;
    animation: apprtBIscaling 1.8s ease-in-out infinite;
    display: inline-block;
    margin:.1rem;
}

.apprtBIcir:nth-child(0) {
    animation-delay:0s;
}

.apprtBIcir:nth-child(1) {
    animation-delay:0.2s;
}

.apprtBIcir:nth-child(2) {
    animation-delay:0.4s;
}

.apprtBIcir:nth-child(3) {
    animation-delay:0.6s;
}

@keyframes apprtBIscaling {
    0%, 100% {transform: scale(0.2);}
    40% {transform: scale(1);}
    50% {transform: scale(1);}
}